<!-- 編集用のフォーム -->
<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_no" class="form-label">No</label>
      <input type="number" class="form-control" id="id_no" name="no">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_data_classification" class="form-label">データ区分</label>
      <input type="text" class="form-control" id="id_data_classification" name="data_classification" maxlength="10">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_order_classification" class="form-label">発注区分</label>
      <input type="number" class="form-control" id="id_order_classification" name="order_classification">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_delivery_number" class="form-label">納番</label>
      <input type="text" class="form-control" id="id_delivery_number" name="delivery_number">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_acceptance" class="form-label">受入</label>
      <input type="number" class="form-control" id="id_acceptance" name="acceptance">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_jersey_number" class="form-label">背番号</label>
      <input type="number" class="form-control" id="id_jersey_number" name="jersey_number">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_product_number" class="form-label">品番</label>
      <input type="text" class="form-control" id="id_product_number" name="product_number" maxlength="20">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_delivery_date" class="form-label">納入日</label>
      <input type="text" class="form-control datepicker" id="id_delivery_date" name="delivery_date">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_flight" class="form-label">便</label>
      <input type="number" class="form-control" id="id_flight" name="flight">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_capacity" class="form-label">収容数</label>
      <input type="number" class="form-control" id="id_capacity" name="capacity">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_box_quantity" class="form-label">箱数</label>
      <input type="number" class="form-control" id="id_box_quantity" name="box_quantity">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="id_quantity" class="form-label">数量</label>
      <input type="number" class="form-control" id="id_quantity" name="quantity">
    </div>
  </div>
</div>
