<!-- 新規追加時フォーム -->
<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="no" class="form-label">No</label>
      <input type="number" class="form-control" id="no" name="no" value="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="data_classification" class="form-label">データ区分</label>
      <input type="text" class="form-control" id="data_classification" name="data_classification" value="" maxlength="10">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="order_classification" class="form-label">発注区分</label>
      <input type="number" class="form-control" id="order_classification" name="order_classification" value="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="delivery_number" class="form-label">納番</label>
      <input type="text" class="form-control" id="delivery_number" name="delivery_number" value="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="acceptance" class="form-label">受入</label>
      <input type="number" class="form-control" id="acceptance" name="acceptance" value="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="jersey_number" class="form-label">背番号</label>
      <input type="number" class="form-control" id="jersey_number" name="jersey_number" value="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="product_number" class="form-label">品番</label>
      <input type="text" class="form-control" id="product_number" name="product_number" value="" maxlength="20">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="delivery_date" class="form-label">納入日</label>
      <input type="text" class="form-control datepicker" id="delivery_date" name="delivery_date" value="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="flight" class="form-label">便</label>
      <input type="number" class="form-control" id="flight" name="flight" value="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="capacity" class="form-label">収容数</label>
      <input type="number" class="form-control" id="capacity" name="capacity" value="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="box_quantity" class="form-label">箱数</label>
      <input type="number" class="form-control" id="box_quantity" name="box_quantity" value="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="quantity" class="form-label">数量</label>
      <input type="number" class="form-control" id="quantity" name="quantity" value="">
    </div>
  </div>
</div>
