<div class="mb-3">
  <label for="id_name" class="form-label">品番<span class="text-danger">*</span></label>
  <input type="text" class="form-control" id="id_name" name="name">
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="id_is_oneline_only" name="is_oneline_only">
      <label class="form-check-label" for="id_is_oneline_only">1ライン専用</label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="id_active" name="active">
      <label class="form-check-label" for="id_active">有効</label>
  </div>
</div>
