<div class="mb-3">
  <label for="name" class="form-label">品番<span class="text-danger">*</span></label>
  <input type="text" class="form-control" id="name" name="name" value="">
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="is_oneline_only" name="is_oneline_only" checked>
      <label class="form-check-label" for="is_oneline_only">1ライン専用</label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="active" name="active" checked>
      <label class="form-check-label" for="active">有効</label>
  </div>
</div>
