<li class="nav-item">
  <a
    class="nav-link {% if 'management_room' in request.resolver_match.app_name %}active{% endif %}"
    href="#"
    data-bs-toggle="collapse"
    data-bs-target="#managementRoomSubmenu"
  >
    <i class="fas fa-building"></i>
    管理室
  </a>
  <div
    class="collapse submenu {% if 'management_room' in request.resolver_match.app_name %}show{% endif %}"
    id="managementRoomSubmenu"
  >
    <!-- 生産管理 -->
    {% if 'production_management_user' in groups %}
    <a
      class="nav-link {% if 'management_room:akashi_order_list' in request.resolver_match.url_name %}active{% endif %}"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#managementRoomProductionManagementSubmenu"
    >
      <i class="fas fa-industry"></i>
      生産管理
    </a>
    <div
      class="collapse submenu {% if 'management_room:akashi_order_list' in request.resolver_match.url_name %}show{% endif %}"
      id="managementRoomProductionManagementSubmenu"
    >
      <a
        class="nav-link {% if 'management_room:production_volume_input' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:production_volume_input' %}"
      >
        <i class="fas fa-keyboard"></i>
        完成品番別生産台数入力
      </a>
      <a
        class="nav-link {% if 'management_room:assembly_production_plan' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:assembly_production_plan' %}"
      >
        <i class="fas fa-project-diagram"></i>
        組付生産計画
      </a>
      <a
        class="nav-link {% if 'management_room:machining_production_plan' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:machining_production_plan' %}"
      >
        <i class="fas fa-cogs"></i>
        加工生産計画
      </a>
      <a
        class="nav-link {% if 'management_room:casting_production_plan' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:casting_production_plan' %}"
      >
        <i class="fas fa-fire-alt"></i>
        鋳造生産計画
      </a>
      <a
        class="nav-link {% if 'management_room:cvt_volume_input' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:cvt_volume_input' %}"
      >
        <i class="fas fa-keyboard"></i>
        CVT生産台数入力
      </a>
      <a
        class="nav-link {% if 'management_room:cvt_production_plan' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:cvt_production_plan' %}"
      >
        <i class="fas fa-calendar-alt"></i>
        CVT生産計画
      </a>
      <a
        class="nav-link {% if 'management_room:akashi_order_list' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:akashi_order_list' %}"
        hx-get="{% url 'management_room:akashi_order_list' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-clipboard-list"></i>
        明石発注データリスト
      </a>
      <a
        class="nav-link {% if 'management_room:akashi_order_aggregation' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:akashi_order_aggregation' %}"
        hx-get="{% url 'management_room:akashi_order_aggregation' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-clipboard-list"></i>
        明石発注データ集計
      </a>
    </div>
    {% endif %}

    <!-- マスター管理 -->
    <a
      class="nav-link {% if 'management_room:department_master' in request.resolver_match.url_name or 'management_room:employee_master' in request.resolver_match.url_name %}active{% endif %}"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#managementRoomMasterSubmenu"
    >
      <i class="fas fa-database"></i>
      マスター管理
    </a>
    <div
      class="collapse submenu {% if 'management_room:department_master' in request.resolver_match.url_name or 'management_room:employee_master' in request.resolver_match.url_name %}show{% endif %}"
      id="managementRoomMasterSubmenu"
    >
      <!-- 人事 -->
      {% if 'human_resources_user' in groups %}
      <a
        class="nav-link {% if 'management_room:department_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:department_master' %}"
        hx-get="{% url 'management_room:department_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-building"></i>
        部署管理
      </a>
      <a
        class="nav-link {% if 'management_room:employee_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:employee_master' %}"
        hx-get="{% url 'management_room:employee_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-user"></i>
        従業員管理
      </a>
      <a
        class="nav-link {% if 'management_room:assembly_item_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:assembly_item_master' %}"
        hx-get="{% url 'management_room:assembly_item_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-box"></i>
        完成品番管理
      </a>
      <a
        class="nav-link {% if 'management_room:machining_item_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:machining_item_master' %}"
        hx-get="{% url 'management_room:machining_item_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-cube"></i>
        加工品番管理
      </a>
      <a
        class="nav-link {% if 'management_room:casting_item_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:casting_item_master' %}"
        hx-get="{% url 'management_room:casting_item_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-cubes"></i>
        鋳造品番管理
      </a>
      <a
        class="nav-link {% if 'management_room:cvt_item_master' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:cvt_item_master' %}"
        hx-get="{% url 'management_room:cvt_item_master' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-boxes"></i>
        CVT品番管理
      </a>
      <a
        class="nav-link {% if 'management_room:casting_item_machine_map' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:casting_item_machine_map' %}"
        hx-get="{% url 'management_room:casting_item_machine_map' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-link"></i>
        鋳造品番-設備紐づけ
      </a>
      <a
        class="nav-link {% if 'management_room:cvt_item_machine_map' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:cvt_item_machine_map' %}"
        hx-get="{% url 'management_room:cvt_item_machine_map' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-link"></i>
        CVT品番-設備紐づけ
      </a>
      <a
        class="nav-link {% if 'management_room:casting_item_prohibited_pattern' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:casting_item_prohibited_pattern' %}"
        hx-get="{% url 'management_room:casting_item_prohibited_pattern' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-ban"></i>
        鋳造品番同時生産禁止パターン
      </a>
      <a
        class="nav-link {% if 'management_room:assembly_item_machining_item_map' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:assembly_item_machining_item_map' %}"
        hx-get="{% url 'management_room:assembly_item_machining_item_map' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-project-diagram"></i>
        完成品番-加工品番紐づけ
      </a>
      <a
        class="nav-link {% if 'management_room:machining_item_casting_item_map' in request.resolver_match.url_name %}active{% endif %}"
        href="{% url 'management_room:machining_item_casting_item_map' %}"
        hx-get="{% url 'management_room:machining_item_casting_item_map' %}"
        hx-target=".main-content"
        hx-push-url="true"
      >
        <i class="fas fa-sitemap"></i>
        加工品番-鋳造品番紐づけ
      </a>
      {% endif %}
      <!-- 工務も追加 -->
    </div>
  </div>
</li>
