<!-- 新規追加時フォーム -->
<div class="mb-3">
  <label for="code" class="form-label">コード <span class="text-danger">*</span></label>
  <input type="text" class="form-control" id="code" name="code" value="">
</div>
<div class="mb-3">
  <label for="name" class="form-label">実績生産品目名 <span class="text-danger">*</span></label>
  <input type="text" class="form-control" id="name" name="name" value="">
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="active" name="active" checked>
      <label class="form-check-label" for="active">有効</label>
  </div>
</div>
