<div class="mb-3">
  <label for="line_id" class="form-label line-select">ライン<span class="text-danger">*</span></label>
  <select class="form-control select2" id="line_id" name="line_id">
    <option value=""></option>
    {% for line in lines %}
    <option value="{{ line.id }}">{{ line.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="mb-3">
  <label for="name" class="form-label">品番<span class="text-danger">*</span></label>
  <input type="text" class="form-control" id="name" name="name" value="">
</div>
<div class="mb-3">
  <label for="optimal_inventory" class="form-label">適正在庫<span class="text-danger">*</span></label>
  <input type="number" class="form-control" id="optimal_inventory" name="optimal_inventory">
</div>
<div class="mb-3">
  <label for="molten_metal_usage" class="form-label">溶湯使用量<span class="text-danger">*</span></label>
  <input type="number" class="form-control" id="molten_metal_usage" name="molten_metal_usage" step="0.01">
</div>
<div class="mb-3">
  <label for="order" class="form-label">並び順<span class="text-danger">*</span></label>
  <input type="number" class="form-control" id="order" name="order">
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="active" name="active" checked>
      <label class="form-check-label" for="active">有効</label>
  </div>
</div>
