<div class="mb-3">
  <label for="id_line_id" class="form-label">鋳造ライン<span class="text-danger">*</span></label>
  <select class="form-control select2" id="id_line_id" name="line_id">
    {% for line in lines %}
    <option value="{{ line.id }}">{{ line.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="mb-3">
  <label for="id_machine_id" class="form-label">鋳造機<span class="text-danger">*</span></label>
  <select class="form-control select2" id="id_machine_id" name="machine_id">
    {% for machine in machines %}
    <option value="{{ machine.id }}">{{ machine.line.name }} - {{ machine.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="mb-3">
  <label for="id_casting_item_id" class="form-label">鋳造品番<span class="text-danger">*</span></label>
  <select class="form-control select2" id="id_casting_item_id" name="casting_item_id">
    {% for casting_item in casting_items %}
    <option value="{{ casting_item.id }}">{{ casting_item.line.name }} - {{ casting_item.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="mb-3">
  <label for="id_tact" class="form-label">タクト</label>
  <input type="number" class="form-control" id="id_tact" name="tact" step="0.01" min="0">
</div>
<div class="mb-3">
  <label for="id_yield_rate" class="form-label">良品率</label>
  <input type="number" class="form-control" id="id_yield_rate" name="yield_rate" step="0.01" min="0" max="1">
</div>
<div class="mb-3">
  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="id_active" name="active">
      <label class="form-check-label" for="id_active">有効</label>
  </div>
</div>
